body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

#heading1{
  text-align: center;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.c1{
    background-color: #f2bd97;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
#upgrade {
  width: 30%;
  margin-top: -18%;
  border-radius: 20px;
  background-color: rgb(231, 103, 17);
  color: #f1f1f1;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 34px;
  width: 18cm;
  border: 2px solid black;
  margin-left:11.5cm;
  margin-top: 1.5cm;
  background-color: #ced686;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
